:root {
  --color_background: #fafafa;
  --color_border: #ddd;
  --color_link: #007bff;
  --color_text: #111;

  --color_btn_background: #f0f0f0;

  --color_footer: #555;
  --color_footer_background: #eee;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color_background);
  color: var(--color_text);
  font-family: Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

footer {
  background-color: var(--color_footer_background);
  color: var(--color_footer);
  font-size: 0.75em;
  margin-top: 5px;
  padding: 1px;
  text-align: center;
}

@media (max-width: 640px) {
  body {
    margin: 0;
  }
}
