.home-btn {
  background: var(--color_background);
  border: 1px solid var(--color_border);
  border-radius: 6px;
  color: var(--color_text);
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin-bottom: 16px;
  width: 100%;
  z-index: 1;
}

.home-btn:hover,
.home-btn:focus {
  background: var(--color_btn_background);
  color: var(--color_link);
}

#container {
  display: flex;
  flex-direction: row;
}

#contents {
  background: var(--color_background);
  border-right: 1px solid var(--color_border);
  overflow: visible;
  padding: 16px;
  width: 300px;
  position: relative;
}
#contents ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#contents ul li a {
  display: flex;
  align-items: flex-start;
}
#contents ul li a span:nth-child(1) {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin-right: 2px;
}
#contents ul li a span:nth-child(2) {
  width: 10px;
  text-align: left;
}
#contents ul li a span:nth-child(3) {
  flex: 1;
  white-space: normal;
}

#contents li + li {
  border-top: 1px solid var(--color_border);
  margin-top: 8px;
  padding-top: 8px;
}
#contents a {
  color: var(--color_text);
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
}
#contents a:hover {
  color: var(--color_link);
}
#contents a.active {
  color: var(--color_link);
  font-weight: bold;
}

#summaries {
  flex: 1;
  overflow: visible;
  padding: 16px;
}

@media (max-width: 640px) {
  #container {
    flex-direction: column;
  }

  #contents {
    border-right: none;
    height: auto;
    padding-top: 16px;
    width: 100%;
  }

  #summaries {
    height: auto;
  }
}
